[submodule "FoundrySimpleStorage/lib/forge-std"]
	path = FoundrySimpleStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryFundMe/lib/forge-std"]
	path = FoundryFundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "SimpleLottery/lib/forge-std"]
	path = SimpleLottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "SimpleDex/lib/forge-std"]
	path = SimpleDex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "SimpleDex/lib/openzeppelin-contracts"]
	path = SimpleDex/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "StableCoin/lib/forge-std"]
	path = StableCoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "StableCoin/lib/openzeppelin-contracts"]
	path = StableCoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "DaoFactory/lib/forge-std"]
	path = DaoFactory/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DaoFactory/lib/openzeppelin-contracts"]
	path = DaoFactory/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "PredictionMarket/lib/forge-std"]
	path = PredictionMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "PredictionMarket/lib/openzeppelin-contracts"]
	path = PredictionMarket/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "SubFactory/lib/forge-std"]
	path = SubFactory/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ERC20Token/lib/forge-std"]
	path = ERC20Token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ERC20Token/lib/openzeppelin-contracts"]
	path = ERC20Token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "SimpleNft/lib/forge-std"]
	path = SimpleNft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "SimpleNft/lib/openzeppelin-contracts"]
	path = SimpleNft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "DefiStableCoin/lib/forge-std"]
	path = DefiStableCoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DefiStableCoin/lib/openzeppelin-contracts"]
	path = DefiStableCoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "DefiStableCoin/lib/foundry-chainlink-toolkit"]
	path = DefiStableCoin/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
[submodule "RebaseToken/lib/forge-std"]
	path = RebaseToken/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "RebaseToken/lib/openzeppelin-contracts"]
	path = RebaseToken/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "MerkleAirdrop/lib/forge-std"]
	path = MerkleAirdrop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
